
ul {
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
    background-color: azure;
}

li {
    list-style-type: none;
    text-align: center;
}

ul {
    background-color:salmon;
}

img{
    width: 70%;
}